body{
	font-size: 16px;
	font-family: 'Inconsolata', monospace;
	font-weight:300;
}

*,::before,*::after{
	box-sizing:border-box;
	margin:0;
	padding: 0;
}
img{
	max-width:100%; 
}
/*-layout-*/
	body{
		display:grid;
		
		grid-template-areas: 
			"fejlec fejlec"
			"kozepkep kozepiras"
			"lábléc lábléc"

		;
		min-height: 100vh;
		grid-template-rows: max-content 1fr max-content;
	}
	header{
		
		grid-area: fejlec;
	}
	main .kép{
		display: grid;
		grid-area: kozepkep;
	}
	main.szöveg{
		display: grid;
		grid-area: kozepiras;
	}
	
	

	
	
	
	
	footer{
		grid-area: lábléc;
		padding-bottom: 1rem;
	}

/*-layout_vége-*/
/*-közös-fejléc*/
	header{
		position: relative;

		line-height: 2rem;
		font-size: 2.5rem;
		text-align: right;
		padding:.75rem 1rem;
		

	}
	.fejlec_menu{
		float: right;
		display: inline-block;
		cursor: pointer;
		font-size: 3rem;
		font-weight: 400;
		width: 2rem;
		text-align: center;
		border-radius: 1rem;
		user-select: none;

	}
	.header_közép {
		float:left;
		display: inline-block;
		min-width: min-content;
		grid-column: 1/3;
		transform: translateX(2rem);
	}
	.header_jobb{
		display: inline-block;
		margin-top: .4rem;
	}
	.header_név{
		font-family: 'Girassol', cursive;
		height: 2rem;
		text-align: left;
		display: inline-block;
		font-weight: 700;
		color: black;

	}
/*-közös-fejléc vége-*/
/*--lenyilomenu*/
	#lenyilo_menu{
		position: absolute;
		right: 1rem;
		top: 4rem;
		display: none;
		float: right;
		border:1px solid rgba(0,0,0,.2);
		border-radius: 8px;
		text-align: left;
		font-family: 'Girassol', cursive;
		font-size: 1.5rem;
		-webkit-box-shadow: 0px 0px 15px 5px #000000;
			-moz-box-shadow: 0px 0px 15px 5px #000000;
			box-shadow: 0px 0px 15px 5px #000000;
		max-height: max-content;
		overflow:hidden;	
	}

	#lenyilo_menu.latszodik{
		display:block;
	}
	.lenyilo_almenu{
		padding-left: 1rem;
		padding-right:1rem;
		line-height: 2.5rem;
		text-decoration: none;
		color: black;
		background-color: white;		
	}
	.lenyilo_almenu:hover{
		background-color: :#F7F8f8;
	}
	/**/

/*footer*/
	footer{
		font-family: 'Itim', cursive;
		background-color: lightgrey;
		color:black;
		padding-left: 1rem;
		font-size: 30px;
	}
	footer div{

		display: inline-block;
		padding-left: .3rem;
		padding-top: .2rem;
		padding-bottom: .2rem;

	}
	/*footer_vége*/

//*main*/
.main_kép{
	display: grid;
	
	
}
.main_kép2{
	display: grid;
	
	
}


.main_kép5{
	display: grid;
	
	
}
.main_kép img{
	max-height: 50rem;
	padding-left:10rem;
	padding-top: 5rem;
	padding-bottom: 5rem;
}
.main_szöveg2{
	font-family: 'Itim', cursive;
	display: grid;
	text-align: center;
	font-weight: 400;
	font-size: 32px;
	padding-top: 5rem;
	padding-left: 3rem;
	padding-right: 3rem;
	padding-bottom: 5rem;	
}
.main_szöveg{
	font-family: 'Girassol', cursive;
	display: grid;
	text-align: center;
	font-weight: 700;
	font-size: 60px;
	padding-top: 5rem;
	padding-left: 3rem;
	padding-right: 3rem;
	padding-bottom: 5rem;
}
.main_kép2 img{
	max-height: 50rem;
	padding-left:3rem;
	padding-top: 5rem;
	padding-bottom: 5rem;
}
.main_szöveg3{
	
	display: grid;
	text-align: center;
	font-weight: 700;
	font-size: 50px;
	padding-top: 5rem;
	padding-left: 3rem;
	padding-right: 3rem;
	padding-bottom: 2rem;
}
.main_szöveg4{
	
	display: grid;
	text-align: center;
	font-weight: 400;
	font-size: 32px;
	padding-top: 5rem;
	padding-left: 3rem;
	padding-right: 3rem;
	padding-bottom: 5rem;
}

.main_kép5 img{
	max-height: 30rem;
	padding-left:3rem;
	padding-top: 5rem;
	padding-bottom: 5rem;
	display: inline-grid;
}
.link{
	font-size: 20px;
	font-color: black;

}

/*main_end*/	